<!--
       Copyright 2017-2020 IBM Corp All Rights Reserved

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
--><server description="Portfolio server">
    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>jdbc-4.2</feature>
        <feature>jms-2.0</feature>
        <feature>jca-1.7</feature>
        <feature>jndi-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>monitor-1.0</feature>
        <feature>jpa-2.2</feature>
<!--    <feature>logstashCollector-1.0</feature> -->
        <feature>localConnector-1.0</feature>
    	<feature>mpReactiveMessaging-1.0</feature>
		<feature>ejbLite-3.2</feature>
	</featureManager>

<!--     <variable name="AUTH_TYPE" defaultValue="basic"/> -->

    <logging consoleLogLevel="INFO" traceSpecification="*=info:com.ibm.hybrid.cloud.sample.stocktrader.*=all:REACTIVEMESSAGE=all"/>

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint">
        <accessLogging/>
    </httpEndpoint>

    <keyStore id="defaultKeyStore" location="${server.config.dir}/resources/security/key.jks" password="passw0rd"/>

    <sslDefault sslRef="RpSSLConfig"/>

    <ssl id="RpSSLConfig" keyStoreRef="defaultKeyStore" trustDefaultCerts="true"/>

<!--     <include optional="false" location="${server.config.dir}/includes/${AUTH_TYPE}.xml"/> -->

    <mpMetrics authentication="false"/>

<!--
    <logstashCollector source="message,trace,ffdc,accessLog" hostName="logstash" port="5044"/>
-->

    <connectionManager id="DB2-Connections" maxPoolSize="50" minPoolSize="5"/>
    <dataSource connectionManagerRef="DB2-Connections" id="PortfolioDB" isolationLevel="TRANSACTION_READ_COMMITTED" jndiName="jdbc/Portfolio/PortfolioDB">
        <jdbcDriver>
            <library description="DB2 JDBC driver jar" name="DB2">
                <file id="db2jcc4" name="db2jcc4.jar"/>
            </library>
        </jdbcDriver>
        <properties.db2.jcc databaseName="${env.JDBC_DB}" password="${env.JDBC_PASSWORD}" portNumber="${env.JDBC_PORT}" serverName="${env.JDBC_HOST}" user="${env.JDBC_ID}"/> <!-- It won't use a containerAuthDataRef for some reason, so defining credentials here instead -->
    </dataSource>

<!-- Authentication is via JWT SSO -->
    <basicRegistry id="basic" realm="BasicRegistry">
        <user name="admin" password="admin"/>
        <user name="stock" password="trader"/>
        <user name="debug" password="debug"/>
        <user name="read" password="only"/>
        <user name="other" password="other"/>
        <user name="jalcorn@us.ibm.com" password="test"/>
        <group name="StockTrader">
            <member name="stock"/>
            <member name="debug"/>
            <member name="jalcorn@us.ibm.com"/>
        </group>
        <group name="StockViewer">
            <member name="read"/>
        </group>
    </basicRegistry>

    <administrator-role>
    	<user>admin</user>
    </administrator-role>
<!-- -->

    <ltpa expiration="1h"/>

    <webAppSecurity allowFailOverToBasicAuth="true" displayAuthenticationRealm="true" logoutOnHttpSessionExpire="true" preserveFullyQualifiedReferrerUrl="true" ssoCookieName="StockTraderSSO" ssoUseDomainFromURL="true" trackLoggedOutSSOCookies="true" useOnlyCustomCookieName="true" webAlwaysLogin="true"/>

    <webApplication contextRoot="/portfolio" id="Portfolio" location="Portfolio.war" name="Portfolio">
        <application-bnd>
            <security-role id="StockTrader" name="StockTrader">
                <special-subject id="IBMid" type="ALL_AUTHENTICATED_USERS"/>
            </security-role>
        </application-bnd>
    </webApplication>

    <applicationMonitor updateTrigger="mbean"/>

    <webApplication id="portfolio" location="portfolio-1.0-SNAPSHOT.war" name="portfolio"/>
</server>